page-about {

}
.social-btn {padding: 30px; }
    .btn-global {height: 45px; line-height: 45px; font-weight: bold; background: #004c78; font-weight: 500; font-size: 1.8rem; -webkit-box-shadow: none; box-shadow: none; font-family: inherit!important; }
    .social-btn p{color: #fff } 
    .signup{text-align: center; margin-top: 25px;}
    .button.activated{background: #004c78; opacity: 1;}
    .button:hover:not(.disable-hover) {
        background-color: #004c78;
    }